apiVersion: ai.sap.com/v1alpha1
kind: Executable

metadata:
  name: expense-audit-job
  annotations:
    scenarios.ai.sap.com/name: "expense-audit"
    scenarios.ai.sap.com/description: "Expense Audit Job"

spec:
  image: ghcr.io/amyge666/expense-audit-job:main
  command:
    - python
    - app/main.py